{% extends 'base.html' %}

{% block header %}
    <span style="display: flex; align-items: center;">
	    <i class="icono-user color-brown mr-3 float-left"></i> <h3>{% block title %} Register{% endblock %}</h3>
    </span>
{% endblock %}

{% block content %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
				{{ form.username.label(class_='color-brown m-2') }}<br>
				{{ form.username(class_='m-2', size=32) }}<br>
				{% for error in form.username.errors %}
				<span>[{{ error }}]</span>
				{% endfor %}
		</p>
		<p>
				{{ form.password.label(class_='color-brown m-2') }}<br>
				{{ form.password(class_='m-2', size=32) }}<br>
				{% for error in form.password.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
		</p>
		<p>{{ form.submit(class_='btn bg-orange color-white m-2') }}</p>
		</form>
{% endblock %}