<!doctype html>
<title>{% block title %}{% endblock %} - Code Xample</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://icono-49d6.kxcdn.com/icono.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav class="navbar navbar-light" style="background-color: #eee;">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='logo.png') }}" height="30" class="d-inline-block align-top" alt="">
        <strong><span class="color-brown">Code</span><span class="color-orange">Xample</span></strong>
    </a>
	<ul>
		{% if current_user.is_anonymous %}
			<li><a href="{{ url_for('auth.register') }}" class="btn bg-orange color-white mx-1">Register</a>
			<li><a href="{{ url_for('auth.login') }}" class="btn bg-orange color-white mx-1">Log In</a>
		{% else %}
			<li><span class="color-brown"> Logged in as: {{current_user.username}}</span>
			<li><a href="{{ url_for('auth.logout') }}" class="btn bg-orange color-white">Log Out</a>
		{% endif %}
	</ul>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>
